body {
    background-color: beige;
    margin: 0;
}

#topline {
    height: 100px;
    background-color: #57DDF3;
    margin-top: 0;
    display: flex;
    align-items: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    padding-left: 20px;
    color: darkblue
}

#page {
    display: grid;
    grid-template-columns: 100px auto;
}

@media only screen and (min-width: 700px) {
    #page {
        grid-template-columns: 200px auto;
    }
}

#navbar {
    background-color: #A1F7A1;
    height: 100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
}

li:hover {
    background-color: #C7F954;
}

.projects {
    padding-left: 50px;
}

button {
    font-size: 25px;
    margin-left: 50px;
    margin-top: 10px;
    height: 35px;
    width: 35px;
    border-radius: 20%;
    background-color: #C7F954;
}

.lighter {
    color: grey;
}

.task-button {
    margin-left: 20px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

.task {
    width: 500px;
    min-height: 40px;
    margin: 20px;
    padding: 20px;
    font-size: 25px;
    background-color: rgb(235, 190, 225);
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
}
/* 

https://www.canva.com/colors/color-palettes/sea-breeze/

Yellow Green #C7F954
Neon Green #A1F7A1
Turquoise #14C2DD
Cyan #57DDF3
 */